.sheet {
  min-height: 100vh;
  height: fit-content;
  padding-top: calc(32px + 1.5rem);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem 60vh;
  place-content: center;
}

@media (min-width: 640px) {
  .main {
    grid-template-rows: 2rem 80vh;
  }
}
