.sheet {
  padding: 8px 12px;
  background: #e7e7e7;
}

.fieldset {
  border: none;
}

.legend {
  width: 100%;
  padding: 8px 0px;
  margin-bottom: 4px;
  border-bottom: 1px solid black;
}

.group {
  margin-bottom: 4px;
  border-bottom: 1px solid black;
}

.groupName {
  width: 100%;
}

.checkbox {
  display: grid;
  grid-template-columns: repeat(auto-fill, 5.3rem);
  grid-gap: 4px;
  justify-content: center;
}
